[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = https://github.com/zeux/volk
[submodule "thirdparty/meshoptimizer"]
	path = thirdparty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
